@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Reggae+One&display=swap');

/* ---------------------------------------------------------------------------header */

/* header{
    background-color: rgb(238, 218, 232);
} */

.logo {
    background: url("../images/logo.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    padding-top: 10px;
    height: 150px;
}

.menuitem li {
    margin: 15px;
    display: inline-block;
}

.navbar-light .navbar-nav .nav-link {
    color: #ee37b7;
}

.navbar {
    float: right;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Reggae One', cursive;
    font-weight: 400;
    font-size: 20px;
}

@media(max-width:576px) {
    .logo {
        height:110px;     
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        background-origin: content-box;
        padding-top: 10px;
    }
    .menuitem li {
        margin: 0;
    }
    .navbar-expand-lg {
        float: none;
    }

    .navbar-expand-sm{
        padding-top: 30px;
    }
    .navbar-collapse {
        width: 85vw;
        padding-top: 40px;
    }
}


@media only screen and (max-width: 1025px) and (min-width: 768px) {
    .menuitem{
        padding-top: 20px;
        letter-spacing: 1px;
    }
}


/* ---------------------------------------------------------------------------hero image sliding */

.carousel-item img {
    object-fit: cover;
    height: 700px;
}

.carousel-caption{
    font-family: 'Architects Daughter', sans-serif;    
    text-align: center;
}

.pic1 h5{
    font-size: 3rem;
    color: aqua;
    padding-bottom: 250px;
}

.pic2 h5{
    font-size: 3rem;
    color: rgb(150, 14, 241);
    padding-bottom: 200px;
}

.pic3 h5{
    font-size: 3rem;
    color: brown;
    padding-bottom: 200px;
}

.pic4 h5{
    font-size: 3rem;
    color: rgb(51, 49, 75);
    padding-bottom: 200px;
}

@media(max-width:576px) {
    .carousel-item img{
        height: 300px;
    }
  
}

@media only screen and (max-width: 1025px) and (min-width: 576px) {
    .carousel-item img{
        height: 450px;
    }

    .pic1 h5{
    font-size: 2rem;
    color: aqua;
    padding-bottom: 120px;
    font-weight: 200;
}

.pic2 h5{
    font-size: 2rem;
    color: rgb(241, 14, 173);
    padding-bottom: 50px;
    font-weight: 200;
}

.pic3 h5{
    font-size: 2rem;
   color: brown;
    padding-bottom: 50px;
    font-weight: 200;
}

.pic4 h5{
    font-size: 2rem;
    color: rgb(51, 49, 75);
    padding-bottom: 50px;
    font-weight: 200;
}
}

/* ---------------------------------------------------------------------------cake information */

.background {
background-color: rgb(230, 217, 229);
}

.cakelist h4{
    padding-top: 50px;
    font-family: Reggae one, sans-serif;
    text-align: center;
}

.listimages img {
    padding: 20px;
    float: center;
}